
<div class="show" >
<div class="box white">
    <article  > 
    <h1 class="title" ><%= @article.title %></h1>
      <p class="body"><%= @article.body %></p>
    </article>
    <%= link_to "Back to Articles List", articles_path, class: "link_to_articles" %>
    <%= link_to "Delete" , article_path(@article), method: :delete , data:{confirm: "Really delete the article?"}%>
</div>