// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$blue :#193240;
$blue_hover :#1932406b;

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(238, 238, 238);
    color: rgb(90, 90, 90);
    font-family: 'Corbel'
}

.white {
    background: white;
}

nav {
    background-color:#193240;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:white;
    padding: 1em 6em;
    box-shadow: 2px 3px 5px 0px rgba(112, 112, 112, 0.75);
    .wrapper {
        display: flex;
        align-items: center;
    }

    .home {
        color:white;
        text-decoration: none;
    }
    .new_article {
        color:$blue;
        text-decoration: none;
        background-color: white;
        border-radius: 10px;
        padding:0.5rem;
        transition: 0.3s;
        &:hover {
            background-color: rgba(255, 255, 255, 0.315);
            color:white;
            transition: 0.3s;
        }
    }
}


.box {
    width: 80%;
    box-shadow: 2px 3px 5px 0px rgba(112, 112, 112, 0.75);
    margin: 1rem auto 0 auto;
    border-bottom: 10px solid $blue;
    min-height: 80vh;
    h2 {
        color: #193240;
        text-align:center;
        padding: 1rem;
    }
    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        li {
            font-family: 'Open Sans';
            list-style-type: none;
        }
    }
   
    .smallBox {
      box-shadow: 2px 3px 5px 0px rgba(112, 112, 112, 0.75);
      padding:1rem;
      margin: 1em;
      border-left: 3px solid #FFC107;
    }

    .smallBox:hover {
        background-color:$blue;
        color:white;
        transition: 0.5s;
    }

    .article-index {
        text-decoration: none;
        color: rgb(12, 12, 12);
        transition: 0.5s;
        &:hover {
            color:white;
        }
    }


}


.show {
    padding:0 10rem;

    .link_to_articles {
        color: rgb(90, 90, 90);
        padding: 3rem;
        font-weight: bold;
        position: fixed;
        bottom:0;

    }
    
    article{
        padding:3rem;

        .title {
            text-transform: uppercase;
            color:$blue;
            padding: 10px;
            border-left: 3px solid $blue;
        }
        
        .body {
            padding: 2rem 0;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 16px;
            background-color: rgba(255, 255, 255, 0.068);
        }
    }

}


.new {
    padding: 0 10rem;

    .form_input {
        margin: 1rem 2rem;
        width: 87%;
        border: 0;
        padding: 10px;
        color:$blue;
        font-size: 20px;
        text-transform: uppercase;
        background-color: rgba(216, 216, 216, 0.425);
        
        &:hover {
            transition: 0.5s;
            border-left: 4px solid $blue;
        }

        &:focus {
            border-left: 4px solid $blue;
            background-color: white;
        }
    }

    .form_body {
        margin: 2rem;
        border:0;
        width: 90%;
        min-height: 50vh;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: rgba(216, 216, 216, 0.425);
        font-size: 16px;
        &:hover {
            border: 1px solid goldenrod;
            border-radius: 10px;
        }

        &:focus {
            background-color: white;
        }
    }
    .submit-container{

        display: flex;
        justify-content: center;
        padding: 2rem;
        input[type=submit] {
            text-align: center;
            border:0;
            padding: 0.5rem;
            border-radius: 15px;
            background-color: $blue;
            color:white;
            &:hover {
                cursor: pointer;
                background-color: $blue_hover;
                transition-duration: 2s;
                transition-property: background;
            }
        }
    }
}